.tags__label {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    cursor: pointer;
    text-decoration-line: none;
}

.tags__label:hover {
    color: #1b6d85;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.tags__active {
    color: #4A61DD;
    text-decoration: underline;
    text-decoration-style: solid;
}
