{% extends "base.html" %}
{% load static %}
{% load recipes_filters %}
{% block title %}404 error{% endblock %}
{% block content %}
    <div class="main__header">
        <h1 class="main__title">Что-то пошло не так</h1>
    </div>
    <div class="custom-center-block">
            <p class="custom-text-block">Запрашиваемую вами страницу съел какой-то проéда. Попробуйте запросить другую страницу</p>
        <div class="custom-button-block">
            <a href="{% url random_recipe %}" class="button button_style_blue">Показать блюдо</a>
        </div>
    </div>
{% endblock %}
