{% load static %}
<ul class="tags">
    <li class="tags__item">
        <a class="tags__checkbox tags__checkbox_style_orange tags__checkbox_active" href="?tag=breakfast"></a>
        <a href="?tag=breakfast" id="breakfast" class="tags__label">Завтрак</a>
    </li>
    <li class="tags__item">
        <a class="tags__checkbox tags__checkbox_style_green tags__checkbox_active" href="?tag=lunch"></a>
        <a href="?tag=lunch" id="lunch" class="tags__label">Обед</a>
    </li>
    <li class="tags__item">
        <a class="tags__checkbox tags__checkbox_style_purple tags__checkbox_active" href="?tag=dinner"></a>
        <a id="dinner" href="?tag=dinner" class="tags__label">Ужин</a>
    </li>
    <script src="{% static 'recipes/js/components/Tags.js' %}"></script>
</ul>