{% if user.is_authenticated %}
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link {% if index %}active{% endif %}" href="{% url 'index' %}">Все авторы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if follow %}active{% endif %}" href="{%url 'index' %}">Избранные авторы</a>
            </li>
        </ul>
    </div>
{% else %}
    <header class="header">
    <nav class="nav">
        <div class="nav__container container">
            <ul class="nav__items list">
                <li class="nav__item nav__item_active"><a href="#" class="nav__link link">Рецепты</a></li>
                <li class="nav__item nav__item_disabled"><a href="#" class="nav__link link">Список покупок <span class="badge badge_style_blue nav__badge" id="counter">4</span></a></li>
            </ul>
            <ul class="nav__items list">
                <li class="nav__item"><a href="#" class="nav__link link">Войти</a></li>
                <li class="nav__item"><a href="#" class="button button_style_blue">Создать аккаунт</a></li>
            </ul>
        </div>
    </nav>
</header>
{% endif %}
